@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  @apply text-inherit no-underline;
}

html, body {
  background-color: #111;
  color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}


h2, h3, h4, h5 {
  color: #fff;
}

.panel {
  background-color: #222;
  color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}



.tree-card {
  background: #1a1a1a;
  border: 1px solid #333;
  color: #f9f9f9;
}

.error-box {
  background: #2a0000;
  border: 1px solid #990000;
  color: #ff6666;
}
